@model List<ProfileAddressViewModel>

@await Html.PartialAsync("ProfileMenuPartial")

<hr />

<ul>
    <li>
        @foreach (ProfileAddressViewModel address in Model)
        {
            @address.AdressDetails
            <br />
            @address.AdressNotes
            <br />
            <a asp-controller="Address" asp-action="SelectCity" asp-route-ID=@address.ID>Edit</a>
        }
    </li>
</ul>
<a asp-controller="Address" asp-action="SelectCity">Add New Address</a>
