@model ProfileAddressViewModel

@await Html.PartialAsync("ProfileMenuPartial")

<hr />

<form asp-controller="Address" asp-action="EditAddress" method="post">
    <input name="ID" type="hidden" value=@Model.ID>
    Name: <input asp-for=@Model.Name><br />
    <input name="CityID" type="hidden" value=@Model.CityID>
    <input name="CountyID" type="hidden" value=@Model.CountyID>
    Address Details: <input asp-for=@Model.AdressDetails><br />
    Address Notes: <input asp-for=@Model.AdressNotes><br />
    <button class="btn btn-info btn-sm">Edit</button>
</form>