@model List<ProfileAddressViewModel>

@await Html.PartialAsync("ProfileMenuPartial")

<hr />

<ul>
    <li>
        @foreach (ProfileAddressViewModel item in Model)
        {
            @item.AdressDetails
            <br />
            @item.AdressNotes
            <br />
            <a asp-controller="Address" asp-action="EditAddress" asp-route-ID=@item.ID>Edit</a>
        }
    </li>
</ul>
<a asp-controller="Address" asp-action="AddAddress">Add New Address</a>
