@model StoreMainViewModel

<a asp-action="Index" asp-controller="Store">Store</a>
 - 
<a asp-action="Index" asp-controller="Cart">Cart[$@Model.CartTotal]</a> 
- 
<a asp-action="Index" asp-controller="Profile">Profile</a>
 - 
<a asp-action="Logout" asp-controller="Account">Logout</a>
 ----- 
<a asp-action="Index" asp-controller="Deliverer">Deliverer</a>
 - 
<a asp-action="Index" asp-controller="Packager">Packager</a>
 - 
<a asp-action="Index" asp-controller="Admin">Admin</a>