@model StoreCategoriesViewModel

<ul>
    @foreach (CategoryViewModel cat in Model.Categories)
    {
        <li>
            <a asp-controller="Store" asp-action="Index" asp-route-categoryID="@cat.ID">@cat.Name</a>
        </li>
    }
</ul>