@model AdminCategoryViewModel

@await Html.PartialAsync("AdminMenuPartial")

<hr />
@TempData["Message"]
<form asp-controller="Admin" asp-action="AddCategory" method="post">
    <input name="CategoryID" type="hidden" value=@Model.CategoryID>
    Name: <input asp-for=@Model.Name><br />
    IsActive: <input asp-for=@Model.IsActive><br />
    <button class="btn btn-info btn-sm">Edit</button>
</form>