<a asp-action="AddCategory" asp-controller="Admin" style="color:red">Add Category</a>
 -
<a asp-action="ListCategories" asp-controller="Admin" style="color:red">Categories</a>
-
<a asp-action="AddProduct" asp-controller="Admin" style="color:red">Add Product</a>
 -
<a asp-action="ListProducts" asp-controller="Admin" style="color:red">Products</a>
-
<a asp-action="AddEmployee" asp-controller="Admin" style="color:red">Add Employee</a>
-
<a asp-action="ListEmployees" asp-controller="Admin" style="color:red">Employees</a>