<a asp-action="Info" asp-controller="Profile" style="color:red">My Info</a>
 -
<a asp-action="GetOrders" asp-controller="Order" style="color:red">My Orders</a>
-
<a asp-action="GetAddresses" asp-controller="Address" style="color:red">My Addresses</a>
-
<a asp-action="GetCreditCard" asp-controller="Profile" style="color:red">My Credit Cards</a>