<a asp-action="Info" asp-controller="Profile">My Info</a>
 -
<a asp-action="GetOrders" asp-controller="Profile">My Orders</a>
-
<a asp-action="GetAddresses" asp-controller="Address">My Addresses</a>
-
<a asp-action="GetCreditCard" asp-controller="Profile">My Credit Cards</a>