<form asp-controller="Account" asp-action="Login" method="post">
    <input name="email" type="email" value="">
    <input name="password" type="password" value="">
    <button class="btn btn-info btn-sm">Login</button>
</form>