@model List<OrderViewModel>

<table class="table table-sm table-hover table-bordered table-dark">
    <thead>
        <tr>
            <th>
                Order ID
            </th>
            <th>
                Order Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (OrderViewModel order in Model)
        {
        <tr>
            <td>
                @order.OrderID
            </td>
            <td>
               @order.OrderStatus
            </td>
            <td>
                <a asp-controller="Order" asp-action="GetDetails" asp-route-orderID=@order.OrderID>Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
