@model OrderViewModel

<hr />

<ul>
    <li style="color:white">
        Order ID: @Model.OrderID<br />
        Order Status: @Model.OrderStatus<br />
        Deliverer: @Model.DelivererName<br />
    </li>
</ul>