@model PackagerOrderViewModel

<hr />

<ul>
    <li style="color:white">
        Order ID: @Model.OrderID
        Order Status: @Model.OrderStatus
        
        @foreach (var detail in Model.Details)
        {
            <ul>
                <li>
                    Product ID : @detail.ID
                    Quantity: @detail.Quantity
                </li>
            </ul>
        }

        <form asp-controller="Packager" asp-action="AssignDeliverer" method="post">
            <input name="OrderID" type="hidden" value=@Model.OrderID>
            <input name="MemberID" type="hidden" value=@Model.MemberID>
            <input name="PackagerID" type="hidden" value=@Model.PackagerID>
            <input name="AddressID" type="hidden" value=@Model.AddressID>
            Deliverer: <select id="deliverer-selector" asp-for="DelivererID" asp-items="Model.Deliverers"></select> <br />
            Status:<select id="status-selector" asp-for="OrderStatus" asp-items="Model.OrderStatuses"></select><br />
            <button class="btn btn-info btn-sm">Assign</button>
        </form>
    </li>
</ul>