@model List<PackagerOrderViewModel>

<hr />

<table class="table table-sm table-hover table-bordered table-dark">
    <thead>
        <tr>
            <th>
                Order ID
            </th>
            <th>
                Status
            </th>
            <th>
                Details
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (PackagerOrderViewModel order in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => order.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.OrderStatus)
                </td>
                <td>
                    <a class="btn btn-info btn-sm" asp-controller="Packager" asp-action="GetDetails" asp-route-orderID="@order.OrderID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
