@model ProfileCreditCardViewModel

@await Html.PartialAsync("ProfileMenuPartial")

<hr />

@Model.CardHolderName
++
@Model.CardNumber
++
@Model.ExpireDate.ToShortDateString()

<br />

@if (Model.ID == 0)
{
    <a asp-controller="Profile" asp-action="AddCreditCard">Add Credit Card</a>
}
else
{
    <a asp-controller="Profile" asp-action="EditCreditCard" asp-route-ID=@Model.ID>Edit Credit Card</a>
}
