@model ProfileMainViewModel

<a asp-action="Index" asp-controller="Profile" asp-route-contentType="MyInfo">My Info</a>
 -
<a asp-action="Index" asp-controller="Profile" asp-route-contentType="OrderList">My Orders</a>
-
<a asp-action="Index" asp-controller="Profile" asp-route-contentType="AddressList">My Addresses</a>
-
<a asp-action="Index" asp-controller="Profile" asp-route-contentType="CreditCardList">My Credit Cards</a>
 -
Logoutx
 -----
Deliverer
 -
Packager
 -
Admin