@model ProfileMainViewModel

<a asp-action="ShowInfo" asp-controller="Profile">My Info</a>
 -
<a asp-action="ListOrder" asp-controller="Profile">My Orders</a>
-
<a asp-action="ListAddresses" asp-controller="Profile">My Addresses</a>
-
<a asp-action="ListCards" asp-controller="Profile">My Credit Cards</a>
 -
Logoutx
 -----
Deliverer
 -
Packager
 -
Admin