<a asp-action="GetInfo" asp-controller="Profile">My Info</a>
 -
<a asp-action="GetOrders" asp-controller="Profile">My Orders</a>
-
<a asp-action="GetAddresses" asp-controller="Profile">My Addresses</a>
-
<a asp-action="GetCreditCards" asp-controller="Profile">My Credit Cards</a>