@model DelivererOrderViewModel

<hr />

<ul>
    <li>
        @Model.OrderID
        @Model.OrderStatus
        @Model.PackagerID

        <form asp-controller="Deliverer" asp-action="UpdateDelivery" method="post">
            <input name="OrderID" type="hidden" value=@Model.OrderID>
            <input name="MemberID" type="hidden" value=@Model.MemberID>
            <input name="PackagerID" type="hidden" value=@Model.PackagerID>
            <input name="CityID" type="hidden" value=@Model.CityID>
            <input name="CountyID" type="hidden" value=@Model.CountyID>
            <input name="DelivererID" type="hidden" value=@Model.DelivererID>
            Status:<select id="status-selector" asp-for="OrderStatus" asp-items="Model.OrderStatuses"></select>
            <button class="btn btn-info btn-sm">Assign</button>
        </form>
    </li>
</ul>