@model ProfileCreditCardViewModel

<hr />

<ul>
    <li>
        Cardholder Name: @Model.CardHolderName<br />
        
        Card Number: @Model.CardNumber<br />
        
        Expiration Date: @Model.ExpireDate.ToShortDateString()<br />
    </li>
</ul>

<hr />

@if (Model.ID == 0)
{
    <a asp-controller="CreditCard" asp-action="AddCreditCard">Add Credit Card</a>
}
else
{
    <a asp-controller="CreditCard" asp-action="EditCreditCard" asp-route-ID=@Model.ID>Edit Credit Card</a>
}
