@model ProfileCreditCardViewModel

<form asp-controller="CreditCard" asp-action="EditCreditCard" method="post">
    <input name="ID" type="hidden" value=@Model.ID>   
    Card Number: <input asp-for=@Model.CardNumber> <br />
    Expiration Date: <input asp-for=@Model.ExpireDate><br />
    CVC: <input asp-for=@Model.CVC><br />
    Cardholder Name: <input asp-for=@Model.CardHolderName><br />
    <button class="btn btn-info btn-sm">Edit</button>
</form>