@model List<CartItem>

<table class="table table-sm table-hover table-bordered table-dark">
    <thead>
        <tr>
            <th>
                Item Name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>@foreach (CartItem item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @*<form asp-controller="Cart" asp-action="RemoveFromCart" method="post">
                        <input name="productID" type="hidden" value=@item.ProductID>
                        <button class="btn btn-info btn-sm">Remove</button>
                    </form>*@
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />

@if (Model.Count > 0)
{
    <form asp-controller="Cart" asp-action="SelectAddress" method="get">
        <button class="btn btn-info btn-sm">Proceed To Payment</button>
    </form>
}
